<h1>New Post</h1>

<form action="/posts" method="post">
  <div>
    <label for="author">Author</label>
    <input type="text" id="author" name="author">
  </div>
  <div>
    <label for="body">Body</label>
    <textarea id="body" name="body"></textarea>
  </div>
  <div>
    <label for="image">Image URL</label>
    <input type="text" id="image" name="image">
  </div>
  <button>Submit</button>
</form>
